.guild-settings-form {
  display: flex;
  gap: 2rem;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    label {
      color: var(--color-white--400);
      font-size: .875rem;
    }
  }
}

